body{
    text-align: center;
}
footer{
    text-align: left    ;
}
#p{
    text-align: center;
    font-size:25px;
    font: bold;
}
#nos{
    background-color: rgb(78, 52, 27);
    color: beige;
    width: 80px;
    text-align: center;
}
#button{
    background-color: rgb(78, 52, 27);
    color: beige;
    margin-top: 15px;
    padding: 5px 10px 5px 10px;
    border-radius: 15px;
}
#table{
    width: 500px;
    height: 300px;
    border: 5px sold rgb(78, 52, 27);
    margin-left: auto;
    margin-right: auto;
}
.nos{
     background-color: rgb(206, 166, 127);
    color: rgb(78, 52, 27);
    width: 80px;
    text-align: center;
}